*{font-family: "微软雅黑"}
img{border: none}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
a:focus {outline: none;}
input:focus{outline: none;}
.row{margin-right: 0px!important;margin-left: 0px!important}
.navbar-brand{padding: 10px;cursor: pointer;font-size: 14px;line-height: 30px;color: #313131!important;text-shadow: none}
.navbar-toggle{border: 1px solid transparent!important;background-color: transparent!important}
.navbar-inverse .navbar-toggle .icon-bar{background-color: #313131}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{text-shadow: none}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{color: #99ace6}
.App{padding-top: 50px;}